<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/head :: adminHead"></head>
<head th:replace="fragments :: head"><head/>

<body>
	<div th:replace="fragments :: main-nav"></div>
			<div class="col-xs-10">
				<br>
				<dt class="h2"> &nbsp 전체 회원 (<span th:text="${accounts.size()}"></span>)</dt>
				<hr>
				<dd>
				<table class="table table-bordered">
					<thead>
					<tr class="thead">
						<th scope="col">이름</th>
						<th scope="col">이메일</th>
						<th scope="col">가입날짜</th>
						<th scope="col">권한</th>
					</tr>
					</thead>
					<tbody>
					<tr class="link_btn hover" th:each="account : ${accounts}">

						<td style="text-align: left;">
							<a th:href="@{'/admin/accounts/' + ${account.id}}"><span th:text="${account.username}">회원</span></a>
						</td>
						<td style="text-align: left;" th:text="${account.email}"></td>
						<td class="date-time" style="text-align: left;" th:text="${account.joinedAt}"></td>
						<td style="text-align: left;">
							<span th:each="role,iter : ${account.userRoles}">
								<h6 th:text="${role.roleDesc}"></h6>
							</span>
						</td>
					</tr>
					</tbody>
				</table>
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1">Previous</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item">
								<a class="page-link" href="#">Next</a>
							</li>
						</ul>
					</nav>
				<dd>
				<hr>
				<div style="text-align:left;">
					<p><a class="btn btn-dark btn-lg" style="margin:10;" th:href="@{/admin/user/register}">회원 등록</a></p>
				</div>
			</div>

	<div th:replace="fragments :: footer"></div>
</body>
<div th:replace="fragments.html :: date-time"></div>
<script type="text/javascript">
	$(document).ready(function(){
	});

</script>
</html>