<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <div class="py-5 text-center">
        <h2>New Create Lecture</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-3" th:action="@{/new-lecture}" th:object="${lectureForm}" method="post"
              novalidate>

            <div class="form-group">
                <label for="path">PATH</label>
                <input id="path" type="text" th:field="*{path}" class="form-control"
                       aria-describedby="pathHelp" required min="2" max="20">
                <small class="invalid-feedback">invalid Path</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('path')}" th:errors="*{path}">Path
                    Error</small>
            </div>

            <div class="form-group">
                <label for="title">Subject Title</label>
                <input id="title" type="text" th:field="*{subjectTitle}" class="form-control"
                       aria-describedby="titleHelp" required max="50">
                <small class="invalid-feedback">invalid Subject Title</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('subjectTitle')}" th:errors="*{subjectTitle}">Title
                    Error</small>
            </div>

            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit"
                        aria-describedby="submitHelp">Create Lecture
                </button>
            </div>
        </form>
    </div>

    <div class="fragments.html :: footer"></div>
    <script th:replace="fragments.html :: form-validation"></script>
</div>

</body>
</html>