<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div>
        <div class="row pt-4 text-left justify-content-center bg-light">
            <div class="col-11">
                <a href="#" class="text-decoration-none"
                   th:href="@{'/lecture/' + ${lecture.path}}">
                    <span class="h5" th:text="${lecture.subjectTitle}">강의명</span>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div th:replace="fragments.html :: lecture-menu(lectureMenu='students')"></div>
    <br>
    <div th:replace="fragments.html :: member-list(student=${lecture.lecturer},isLecturer=${true})"></div>
    <div th:replace="fragments.html :: member-list(student=${lecture.student},isLecturer=${false})"></div>

    <div th:replace="fragments.html :: footer"></div>
</div>
</body>
</html>