<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div th:replace="fragments.html :: lecture-banner"></div>
<div th:replace="fragments.html :: lecture-menu(lectureMenu='students')"></div>
<br>
<div class="row justify-content-center">

<!--    <div class="col-lg-6">-->
<!--        <div th:replace="fragments.html :: member-list(student=${lecture.lecturer},isLecturer=${true})"></div>-->
<!--        <div th:replace="fragments.html :: member-list(student=${lecture.student},isLecturer=${false})"></div>-->
<!--    </div>-->

    <div class="col-md-8 justify-content-center">
        <div>
            <dt class="font-weight-normal">수강 신청자 (<span th:text="${lecture.registers.size()}"></span>)</dt><br>
            <dd>
                <table class="table table-bordered" th:if="${lecture.registers.size() > 0}">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">학생명</th>
                        <th scope="col">신청 일시</th>
                        <th scope="col">수강 상태</th>
                        <th th:if="${lecture.isLecturer(#authentication.principal)}" scope="col">
                            수강 신청
                        </th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr th:each="register: ${lecture.registers}">
                        <th scope="row" th:text="${registerStat.count}"></th>
                        <td>
                            <a th:href="@{#}"
                               class="text-decoration-none">
                                <svg data-jdenticon-value="nickname"
                                     th:data-jdenticon-value="${register.account.getUsername()}" width="24" height="24"
                                     class="rounded border bg-light"></svg>
                                <span th:text="${register.account.getUsername()}"></span>
                            </a>
                        </td>
                        <td>
                            <span class="date-time" th:text="${register.getRegisteredAt()}"></span>
                        </td>
                        <td>
                            <span class="text-success" th:if="${register.accepted}">수강중</span>
                            <span class="text-danger"th:if="${!register.accepted}">대기중</span>
                        </td>
                        <td th:if="${lecture.isLecturer(#authentication.principal)}">
                            <a th:if="${lecture.canAccept(register)}" href="#" class="text-decoration-none"
                               th:href="@{'/lecture/' + ${lecture.path} + '/register/' + ${register.account.id} + '/registers/' + ${register.id} + '/accept'}">신청
                                수락</a>
                            <a th:if="${lecture.canReject(register)}" href="#" class="text-decoration-none"
                               th:href="@{'/lecture/' + ${lecture.path} + '/disRegister/' + ${register.account.id} + '/registers/' + ${register.id} + '/reject'}">취소</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </dd>
        </div>
    </div>
</div>
<div th:replace="fragments.html :: footer"></div>
</div>
<div th:replace="fragments.html :: date-time"></div>
</body>
</html>