<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div>
        <div class="row pt-4 text-left justify-content-center bg-light">
            <div class="col-11">
                <a href="#" class="text-decoration-none"
                   th:href="@{'/lecture/' + ${lecture.path}}">
                    <span class="h5" th:text="${lecture.subjectTitle}">강의명</span>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div th:replace="fragments.html :: lecture-menu(lectureMenu='students')"></div>
    <br>
    <div th:replace="fragments.html :: member-list(student=${lecture.lecturer},isLecturer=${true})"></div>
    <div th:replace="fragments.html :: member-list(student=${lecture.student},isLecturer=${false})"></div>

    <div class="row px-3 justify-content-center">
        <div class="col-7 pt-3">
            <dt class="font-weight-light">상세 모임 설명</dt>
<!--            <dd th:utext="${event.description}"></dd>-->

            <dt class="font-weight-light">모임 참가 신청 (<span th:text="${lecture.registers.size()}"></span>)</dt>
            <dd>
                <table class="table table-borderless table-sm" th:if="${lecture.registers.size() > 0}">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">참석자</th>
                        <th scope="col">참가 신청 일시</th>
                        <th scope="col">참가 상태</th>
                        <th th:if="${lecture.isLecturer(#authentication.principal)}" scope="col">
                            참가 신청 관리
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="register: ${lecture.registers}">
                        <th scope="row" th:text="${registerStat.count}"></th>
                        <td>
                            <a th:href="@{#}"
                               class="text-decoration-none">
                                <svg data-jdenticon-value="nickname" th:data-jdenticon-value="${register.account.getUsername()}" width="24" height="24"
                                     class="rounded border bg-light"></svg>
                                <span th:text="${register.account.getUsername()}"></span>
                            </a>
                        </td>
                        <td>
                            <span class="date-time" th:text="${register.getRegisteredAt()}"></span>
                        </td>
                        <td>
                            <span th:if="${register.accepted}">확정</span>
                            <span th:if="${!register.accepted}">대기중</span>
                        </td>
                        <td th:if="${lecture.isLecturer(#authentication.principal)}">
                            <a th:if="${lecture.canAccept(register)}" href="#" class="text-decoration-none"
                               th:href="@{'/lecture/' + ${lecture.path} + '/register/' + ${register.account.id} + '/registers/' + ${register.id} + '/accept'}">신청
                                수락</a>
                            <a th:if="${lecture.canReject(register)}" href="#" class="text-decoration-none"
                               th:href="@{'/lecture/' + ${lecture.path} + '/disRegister/' + ${register.account.id} + '/registers/' + ${register.id} + '/reject'}">취소</a>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </dd>
        </div>

        <div th:replace="fragments.html :: footer"></div>

    </div>
</div>
</body>
</html>