<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments.html :: head"></head>

<div th:replace="fragments.html :: main-nav"></div>

<div th:replace="fragments.html :: lecture-banner"></div>

<div th:replace="fragments.html :: lecture-menu(lectureMenu='info')"></div>

<body class="bg-light">

<div class="row px-3 justify-content-center">
    <div class="col-10 pt-3" th:utext="${lecture.introduce}"></div>
</div>

<a class="row px-3 justify-content-center" sec:authorize="hasAuthority('ROLE_MANAGER')"
   th:if="${lecture.isLecturer(#authentication.principal) and lecture.isIntroduce()==false}"
   th:href="@{'/lecture/' + ${lecture.path} + '/introduceForm'}">
    <span class="fa fa-plus"> 소개 작성</span>
</a>
</body>
<!--<div th:replace="fragments.html :: footer"></div>-->
</html>