<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: head"><head/>

<body class="bg-light">

<div th:replace="fragments.html :: main-nav"></div>

<div>
    <div class="py-5 text-center" th:if="${error}">
        <p class="lead">Inha Technical College LMS 이메일 확인</p>
        <div class="alert alert-danger" role="alert">이메일 확인 링크가 정확하지 않습니다. </div>
    </div>

    <div class="py-5 text-center" th:if="${error == null}">
<!--        <a href="/" class="h3 text-primary">Inha Technical College </a>-->
        <p>
        <h2>
            <span class="h1 text-primary" th:text="${username}">이승환</span> 님 이메일 인증에
        <span class="text-success">성공하였습니다.</span>
        </h2>
    </div>
</div>
<div th:replace="fragments :: footer"></div>

</body>
</html>
