<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments :: head"><head/>
<body>
<div th:replace="fragments :: main-nav"></div>
<div class="container">
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        이메일 혹은 패스워드가 일치하지 않습니다.
    </div>
    <div class="py-5 text-center">
        <p class="lead" >Sign in to InhaTC</p>
    </div>

    <div class="row justify-content-center">
        <form class="needs-validation col-sm-3" action="#" th:action="@{/login}" method="post" novalidate>
            <div>
<!--            <img src="/images/logo_lg.png" width="250" height="250">-->
            </div>
            <div class="form-group">
                <label >Email address</label>
                <input id="username" type="email" name="username" class="form-control"
                       placeholder="your@email.com" aria-describedby="emailHelp" required>
                <small class="invalid-feedback">이메일을 입력하세요.</small>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" name="password" class="form-control"
                       aria-describedby="passwordHelp" required>
                <small class="invalid-feedback">패스워드를 입력하세요.</small>
            </div>

            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit"
                        aria-describedby="submitHelp">Sign in
                </button>
            </div>

        </form>
    </div>
    <br>
    <div class="row justify-content-center">
        <li id="submitHelp" class="form-text text-muted">
            New to GitHub? <a href="#" th:href="@{/sign-up}"> Create an account</a>
        </li>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>