<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"><head/>

<body class="bg-light">
<div th:replace="fragments :: main-nav"></div>

<div class="container">
    <div class="py-5 text-center">
        <p class="lead">Join Inha Technical College</p>
        <h1>Create your account </h1>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-7" th:action="@{/sign-up}" th:object="${signUpForm}" method="post"
              novalidate>

            <div class="form-group">
                <label >User name</label>
                <input  type="text" th:field="*{username}" class="form-control"
                       placeholder="이름" aria-describedby="nicknameHelp" required minlength="3" maxlength="10">
                <small class="invalid-feedback">이름을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username
                    Error</small>
            </div>

            <div class="form-group">
                <label >
                   Email address
                </label>
                <input type="email" th:field="*{email}" class="form-control"
                       placeholder="너의@이메일.com" aria-describedby="emailHelp" required>
                <small class="invalid-feedback">이메일을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                    Error</small>
            </div>

            <div class="form-group">
                <label >Password</label>
                <input  type="password" th:field="*{password}" class="form-control"
                       aria-describedby="passwordHelp" required minlength="8" maxlength="50">
                <small class="invalid-feedback">패스워드를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                    Error</small>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block" type="submit"
                        aria-describedby="submitHelp">Create account
                </button>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>