<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"><head/>

<body class="bg-light">
<div th:replace="fragments :: main-nav"></div>

<div class="container">
    <div class="py-5 text-center">
        <h2>계정 만들기</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-3" th:action="@{/sign-up}" th:object="${signUpForm}" method="post"
              novalidate>

            <div class="form-group">
                <label >이름</label>
                <input  type="text" th:field="*{username}" class="form-control"
                       placeholder="" aria-describedby="nicknameHelp" required minlength="3" maxlength="20">
                <small id="nicknameHelp" class="form-text text-muted">
                    공백없이 문자와 숫자로만 3자 이상 20자 이내로 입력하세요. 가입후에 변경할 수 있습니다.
                </small>
                <small class="invalid-feedback">이름을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username
                    Error</small>
            </div>

            <div class="form-group">
                <label >
                    이메일
                </label>
                <input type="email" th:field="*{email}" class="form-control"
                       placeholder="" aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted">
                    사용가능한 사용자의 이메일을 입력해주세요
                </small>
                <small class="invalid-feedback">이메일을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                    Error</small>
            </div>

            <div class="form-group">
                <label >패스워드</label>
                <input  type="password" th:field="*{password}" class="form-control"
                       aria-describedby="passwordHelp" required minlength="8" maxlength="50">
                <small id="passwordHelp" class="form-text text-muted">
                    8자 이상 50자 이내로 입력하세요. 영문자, 숫자, 특수기호를 사용할 수 있으며 공백은 사용할 수 없습니다.
                </small>
                <small class="invalid-feedback">패스워드를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                    Error</small>
            </div>

            <div class="form-group">
                <button class="btn btn-secondary btn-block" type="submit"
                        aria-describedby="submitHelp">가입하기
                </button>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>