<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Inha Technical College</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>

    <style type="text/css">
        .img-jmbo{
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                /*url('/images/banner.png');*/
            url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);
            background-size: 100%, 100%;
        }
        .jumbotron {
            border-radius: 0 !important;
        }
        .nav-link {
            border-radius: 0 !important;
        }
    </style>

    <style>
        .container {
            max-width: 100%;
        }
        body {

            font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
        body,
        input,
        button,
        select,
        optgroup,
        textarea,
        label,
        .popover {
            font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

    </style>
</head>

<nav th:fragment="main-nav" class="navbar navbar-expand-sm navbar-dark" style="background-color: #24292e;">

    <div>
        <a class="navbar-brand" th:href="@{/}">
<!--            <img src="/images/logo.png" width="30" height="30">&nbsp-->
            &nbsp Inha Technical College
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto nav-flex-icons">

            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login}" style="color: white" > Sign in </a>
            </li>

            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/sign-up}" style="color: white"> Sign up </a>
            </li>

<!--            <li class="nav-item dropdown"  sec:authorize="hasAuthority('ROLE_USER')" th:if="${account != null && !account.emailVerified}"></li>-->
            <li class="nav-item dropdown"  sec:authorize="hasAuthority('ROLE_USER')">
                <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="usersDropdown">
                    <h5 class="dropdown-header">
                        <a>수강중인 강의</a>

                        <a class="dropdown-item" th:if="${#lists.isEmpty(studentManagerOf)}">수강중인 강의가 없습니다.</a>

                        <a href="#" th:href="@{'/lecture/' + ${lecture.path}}" th:text="${lecture.subjectTitle}"
                           class="dropdown-item" th:each="lecture: ${studentManagerOf}">
                        </a>
                    </h5>
                </div>
            </li>
            <li class="nav-item dropdown"  sec:authorize="hasAuthority('ROLE_MANAGER') or hasAuthority('ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="adminDropdown">
                    <a class="dropdown-item" th:href="@{/new-lecture}" sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_MANAGER')">강의실 개설</a>
                    <div class="dropdown-divider"></div>
                    <h5 class="dropdown-header">
                        <a>개설된 강의</a>

                        <a class="dropdown-item" th:if="${#lists.isEmpty(lectureManagerOf)}">개설된 강의가 없습니다.</a>

                        <a href="#" th:href="@{'/lecture/' + ${lecture.path}}" th:text="${lecture.subjectTitle}"
                           class="dropdown-item" th:each="lecture: ${lectureManagerOf}">
                        </a>
                    </h5>
                </div>
            </li>


            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <svg th:data-jdenticon-value="${#authentication.name}"
                         width="24" height="24" class="rounded-circle border bg-light">
                    </svg>
                </a>
                <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
                    <h6 class="dropdown-header">
                        <a>Signed in as</a>
                        <span th:href="@{/admin/accounts}" >
                            <strong sec:authentication="name">username</strong>
                        </span>
                    </h6>
                    <a class="dropdown-item" th:href="@{/admin/accounts}" sec:authorize="hasAuthority('ROLE_ADMIN')">관리자 페이지</a>
                    <div class="dropdown-divider"></div>

                    <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                        <button class="dropdown-item" type="submit">로그아웃</button>
                    </form>
                </div>
            </li>

        </ul>
    </div>
</nav>

<div th:fragment="lecture-banner" class="jumbotron img-jmbo" style="margin-bottom: -10px;">
    <div class="container-fluid">
        <a href="#" class="text-decoration-none text-white" th:href="@{'/lecture/' + ${lecture.path}}">
            <span class="h2" th:text="${lecture.subjectTitle}">강의명</span>
        </a>
        <div>
            <div class="row pt-4 text-left">
                <div class="col-12">
                <span sec:authorize="isAuthenticated()">
                    <button th:if="${lecture.isRegisterFor(#authentication.principal) and !lecture.isLecturer(#authentication.principal)}"
                            class="btn btn-danger" data-toggle="modal" data-target="#register">
                        <i class="fa fa-plus-circle"></i> 수강신청
                    </button>
                    <button th:if="${lecture.isDisRegisterFor(#authentication.principal) and !lecture.isStudent(#authentication.principal)}"
                            class="btn btn-primary" data-toggle="modal" data-target="#disRegister">
                        <i class="fa fa-minus-circle"></i> 대기중
                    </button>
                    <span class="btn btn-success" th:if="${lecture.isStudent(#authentication.principal)}" disabled>
                        <i class="fa fa-check-circle"></i> 수강중
                    </span>
                </span>
                </div>
            </div>
        </div>

        <div class="modal fade" id="disRegister" tabindex="-1" role="dialog" aria-labelledby="leaveTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="leaveTitle" th:text="${lecture.getSubjectTitle()}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"><p><strong>수강 신청</strong>을 취소하시겠습니까?</p></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <form th:action="@{'/lecture/' + ${lecture.path} + '/disRegister/' + ${lecture.id}}"
                              method="post">
                            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="enrollmentTitle" th:text="${lecture.getSubjectTitle()}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><strong>수강 신청</strong>을 하시겠습니까?</p></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <form th:action="@{'/lecture/' + ${lecture.path} + '/register/' + ${lecture.id}}"
                              method="post">
                            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div th:fragment="lecture-menu (lectureMenu)" >
    <nav class="nav nav-tabs nav-fill justify-content-sm-start" style="margin: 10px;">
        <a class="nav-item nav-link" th:classappend="${lectureMenu == 'info'}? active" href="#" th:href="@{'/lecture/' + ${lecture.path}}">
            <i class="fa fa-bullhorn"></i> 학습목표
        </a>
        <a sec:authorize="isAuthenticated()" th:if="${lecture.isLecturer(#authentication.principal) or lecture.isStudent(#authentication.principal) }"
                class="nav-item nav-link" th:classappend="${lectureMenu == 'lecture'}? active" href="#" th:href="@{'/study/' + ${lecture.path} + '/events/'}">
            <i class="fa fa-caret-square-o-right"></i> 강의실
        </a>
        <a sec:authorize="isAuthenticated()" th:if="${lecture.isLecturer(#authentication.principal) or lecture.isStudent(#authentication.principal)}"
                class="nav-item nav-link" th:classappend="${lectureMenu == 'assignment'}? active" th:href="@{#}">
            <i class="fa fa-book fa-fw" ></i> 과제
        </a>
        <a sec:authorize="isAuthenticated()" th:if="${lecture.isLecturer(#authentication.principal) or lecture.isStudent(#authentication.principal)}"
                class="nav-item nav-link"  th:classappend="${lectureMenu == 'attendance'}? active" th:href="@{#}">
            <i class="fa fa-check" ></i> 출석
        </a>
        <a sec:authorize="isAuthenticated()" th:if="${lecture.isLecturer(#authentication.principal)}"
           class="nav-item nav-link" th:classappend="${lectureMenu == 'students'}? active" th:href="@{'/lecture/' + ${lecture.path} + '/student'}">
            <i class="fa fa-user-circle" ></i> 수강생
        </a>
        <a sec:authorize="isAuthenticated()" th:if="${lecture.isLecturer(#authentication.principal)}"
           class="nav-item nav-link" th:classappend="${lectureMenu == 'setting'}? active" href="#" th:href="@{#}">
            <i class="fa fa-cog fa-fw" ></i> 설정
        </a>
    </nav>

</div>

<div th:fragment="member-list (student, isLecturer)" class="row px-3 justify-content-center">
    <ul class="list-unstyled col-10">
        <li class="media mt-3" th:each="member: ${student}">
            <svg th:data-jdenticon-value="${member.getUsername()}"
                 width="24" height="24" class="d-flex mr-3 rounded-circle border bg-light"></svg>
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <span th:text="${member.getUsername()}"></span>
                    <span th:if="${isLecturer}" class="badge badge-primary">교수</span>
                </h5>
<!--                <span th:text="${member.getUserRole()}"></span>-->
            </div>
        </li>
    </ul>
</div>

<div th:fragment="lecturer-list (student, isLecturer)" class="row px-3 justify-content-center">
    <ul class="list-unstyled col-10">
        <li class="media mt-3" th:each="member: ${student}">
            <div class="media-body">
                    <span th:text="${member.getUsername()}"></span>
            </div>
        </li>
    </ul>
</div>

<footer th:fragment="footer">
    <br>
    <br>
    <br>
    <hr>
    <p class="footer row justify-content-center">© 2020 Copyright
        <a th:href="@{/}"> &nbsp Inha Technical College</a>
    </p>
</footer>

<div th:fragment="editor-script">
    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script type="application/javascript">
        $(function () {
            $('.editor').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
                placeholder: '강의 내용을 넣어주세요',
                tabsize: 2,
                height: 600
            });
        });
    </script>
</div>

<div th:fragment="date-time">
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script type="application/javascript">
        $(function () {
            moment.locale('ko');
            $(".date-time").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
            });
            $(".date").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LL');
            });
            $(".weekday").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('dddd');
            });
            $(".time").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LT');
            });
            $(".calendar").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").calendar();
            });
            $(".fromNow").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").fromNow();
            });
            $(".date-weekday-time").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLLL');
            });
        })
    </script>
</div>

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>

<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

</html>