<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <head/>
<body class="bg-light">
<div th:replace="fragments :: main-nav"></div>
<div class="alert alert-warning justify-content-center text-center" style="height: 60%;" role="alert"
     th:if="${account != null && !account.emailVerified}">
    <!--    <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.-->
    Inha Technical College 가입을 완료하려면
    <a href="#" th:href="@{/check-email}" class="alter-link">
        계정 인증 이메일을 확인
    </a> 하세요
</div>
<div class="container"></div>

</body>
<div th:replace="fragments :: footer"></div>
</html>